<!doctype html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <% include partials/banner.ejs %>
    <% include partials/navbar.ejs %>

    <div id="set-name-controls">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Username:</span>
        </div>
        <input id="user-name" type="text" class="form-control">
        <div class="input-group-append">
          <button id="set-name" class="btn btn-outline-info" type="button">Set</button>
        </div>
      </div>
    </div>
    <div class="container border rounded m-4" id="chat-panel">
      <div class="row">
        <div class="col-4 border">
          <p class="text-dark">List of Class Chatrooms:</p>
        </div>
        <div class="col border">
          <p class="text-dark">Chat: <span id="current-room">Lobby</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 bg-light border px-0" id="room-list">
            <!-- list of classes -->
        </div>
        <div class="col bg-light border">
            <ul id="message-log">
            </ul>
              <div id="chat-controls">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span  class="input-group-text">Chat:</span>
                  </div>
                  <input id="chat-text" type="text" class="form-control">
                  <div class="input-group-append">
                    <button id="chat-send" class="btn btn-outline-info" type="button">Send</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>
