/* Bootstrap shit */

/* Chat shit */

#chat-panel {
  /* width: 800px; */
  /* height: 50vh; */
  /* height: 500px; */
  /* margin: 0 auto; */
  /* padding:15px; */
  /* background-color: gray; */
}

/* #chat-panel > h1 {
  height: 5%;
} */

/* #chat-controls {
  height: 10%;
} */

#message-log {
  list-style-type: none;
  padding: 0 1rem;
  height: 80%;
  /* height: 500px; */
  overflow-y: scroll;
}

ul#message-log > li {
  margin-bottom: 5px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: .5rem;
  box-shadow: 4px 4px 3px #333;
}

ul#message-log > li.welcome-message {
  background-color: #e0e274;
}

ul#message-log > li.system-message {
  background-color: #ccc;
}
